@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=DM+Sans:wght@300;400;500;600&display=swap');
        *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
        html, body { width: 100%; background: #000; }
        .font-display { font-family: 'Playfair Display', serif; }
        .font-body   { font-family: 'DM Sans', sans-serif; } */